form{
    width: 90% !important;
    max-width: 600px;
    margin: auto;
    margin-top: 4em;
}


input, textarea{
    padding: 0.5em !important;
    width: 100% !important;
    box-sizing:border-box !important;
    border-radius: 5px !important;
    font-weight: 500 !important;
    margin: 0.5em 0 !important;
    border: 1px solid var(--main-color) !important;
    font-family: 'Raleway', sans-serif !important;
}

.wpforms-submit:focus, input:focus, textarea:focus{
    border: 2px solid black !important;

}
label{
    font-size: 14pt !important;
}

textarea{
    resize: none !important;
}

.wpforms-submit{
    background-color: var(--accent-color) !important;
    border: none !important;
    border-radius: 0 !important;
    width: 50% !important;
    display: block !important;
    margin: 2em auto !important;
    cursor: pointer !important;
    font-size: 14pt !important;
}
.wpforms-submit:hover{
    text-decoration: underline !important;
}
