.news{

    max-width: 90%;
    margin:auto;
    margin-top: 6em;
}
.news img{
    width: auto;
    height: auto;
    margin: 1em; 
}

.news h2{
    margin: 0;
    text-align: left;
    width: fit-content;
    font-size: 24px;
}
.news article{
    margin-bottom: 2em

}
.news .text{
    padding: 0 1em;


}


.pagination{
    width: fit-content;
    margin: 5em auto;
}
.pagination a, .current{
    padding: 0.5em;
    color: black;
    text-decoration: none;
    position: relative;
    font-family: 'Maven Pro', sans-serif;
}
.pagination a:hover{
    text-decoration: underline;
}
.pagination a i{
    font-size: small;
}

.current{
    background-color: var(--accent-color);
}


/* Media query for tablet */
@media screen and (min-width: 700px){
    .news h2{
        font-weight: 400;
    }
}

/* Media query for desktop */
@media screen and (min-width: 1000px){
    .news article{
        display: flex;
        justify-content: center;
        margin: 3em;
    }
    .news .text{
        padding: 0 2em;

    }
    .news img{
        margin: 0; 
    }
    
    
}