/* STYLING FÖR POST MED TVÅ SPALTER */

.wrapper{
    margin:auto;
    max-width: 1300px;
    width: 90%;
}
.breadcrumbs{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 3em;
}

.post-title{
    color: var(--main-color);
    position: static;
    background-color: transparent;
    width: 100%;
    padding: 0;
}

.price-post{
    width: 100%;
    text-align: center;
    margin-top: 1em;
    max-width: 100%;
}
.flex-house{
    margin-top: 4em;
}

.house p, .book{
    margin:auto;
    margin-top: 1em;
    width: 100%;
}
.house p:first-of-type{
    margin-top: 4em;
}



.metaslider{
    margin-bottom: 4em;
}

.book{
    color: black;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin: 2em auto;
    width: fit-content;
    background-color: var(--accent-color);
    padding: 0.5em 3em;
    border-radius: 5px;
}
.book:hover{
    text-decoration: underline;
}

.post{
    width: fit-content;
    margin:auto;
}
.post p{
    width: 100%;
}

.post img{
    max-width: 100%;
}

.simple-post{
    max-width: 653px;
    margin:auto;
    margin-top: 3em;
}
.simple-post p{
    width: 100%;
}
.simple-post img{
    max-width: 100%;
    margin: 1.5em 0;
}

.side{
    display: none;
}

/* Media query for desktop */
@media screen and (min-width: 1200px){
   

    .houseshow{
        width: 50% !important;
        float: left;
        padding: 1em;
    }
    .house p{
        max-width: 100%;
        padding-top: 1em;
    }
    .house p:first-of-type{
        margin-top: auto;
    }

    .price-post{
        font-size: 16px !important;
    }

    .side-grid{
        width: 100%;
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        gap: 2em;
    }
    .post{
        margin-top: 1em;
    }
    
    .side{
        display: block;
        max-width:100%;
    }

    .breadcrumbs{
        margin-top: 2em;
    }
    .col2{
        margin: 0;
    }
}